<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/task  
		http://www.springframework.org/schema/task/spring-task-4.0.xsd">
	
	<context:component-scan base-package="com.xr"/>
	
	<context:property-placeholder location="classpath:*.properties" />

	<bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath*:config.properties</value>
				<value>classpath*:contract.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="xrChainService" class="com.xr.chain.api.common.sdk.XRChainService" init-method="init">
		<constructor-arg><value>${chain.name}</value></constructor-arg>
		<property name="memberUrl" value="${chain.memberServiceUrl}" />
		<property name="peerUrl" value="${chain.peerUrl}" />
		<property name="pem" value="" />
		<property name="adminName" value="${chain.member.admin.name}" />
		<property name="adminToken" value="${chain.member.admin.token}" />
		<property name="keyStorePath" value="${chain.keyStorePath}" />
	</bean>
	
	<import resource="classpath:spring/spring-contract.xml" />
</beans>